# fly.toml app configuration file generated for server-floral-firefly-2320 on 2026-01-05T23:31:25+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'server-floral-firefly-2320'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 5001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  
   # Increase timeout for long-running requests
  [http_service.timeouts]
    hard_limit = "10m"  # 10 minutes max


[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
